:root {
   --orange:#f75f00;
   font-family: 'Roboto Slab', serif;
}

.header {
   background-color: var(--orange);
   display: flex;
   justify-content: flex-end;
   min-height: 80px;
   align-items: center;
}

.search-bar{
   display: flex;
}

.search {
   height: 50px;
   margin-right: 20px;
   border-radius: 10px;
   border: 2px solid white;
   font-size: 30px;
   padding-left: 30px;

 
}


.content {
   max-width: 1080px;
   margin: 0 auto;
}

.logo {
   margin-top: 30px;
   text-align: center;
   font-size: 50px;
}

i{
   color: var(--orange);
   margin-right: 5px;
}
.logo-text {
   color: var(--orange);
}

.library-body {
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 10px;
   grid-auto-rows: minmax(200px,auto);
   
}
.book-item {
   padding: 10px;
   border: 3px solid var(--orange);
   border-radius: 10%;
   font-size: 20px;
}
.book-field {
   font-size: 30px;
   text-align: center;
   margin: 10px 0;
}

.add-btn {
   font-size: 40px;
   width: 50px;
   border-radius: 50%;
   position: fixed;
   right: 150px;
   bottom: 150px;
   color: white;
   background-color: var(--orange);
   border:none;
   
}

.modal {
   display: none; 
   position: fixed; 
   z-index: 1; 
   left: 0;
   top: 0;
   width: 100%; 
   height: 100%; 
   overflow: auto; 
   background-color: rgb(0,0,0); 
   background-color: rgba(0,0,0,0.4); 
 }
 

 .modal-content {
   background-color: #fefefe;
   margin: 15% auto; 
   padding: 20px;
   border: 1px solid #888;
   width: 30%; 
 }
 

 .close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
 }
 
 .close:hover,
 .close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
 }

 .text-input {
    min-width: 100%;
    max-width: 100%;
    height: 30px;
    border:2px solid black
 }

.title-modal {

}

label{
   display: inline-block;
   margin:15px 0;
   font-size: 30px;
}

.modal-btn {
   margin-top: 10px;
   text-align: center;
}

.submit-btn {
   min-width: 60%;
   max-width: 60%;
   color: white;
   background-color: var(--orange);
   height: 40px;
   border-radius: 4px;
   font-weight: 700;
   border:none;
   font-size: 20px;
}

.warning {
   margin-top: 15px;
   width: 100%;
   font-size: 25px;
   padding: 10px 0 10px 10px;
   background-color: rgba(241, 186, 3, 0.787);
   border-radius: 5px;
   font-weight: 500;

}