:root {
   --orange:#f75f00;
}

.header {
   background-color: var(--orange);
   display: flex;
   justify-content: flex-end;
   min-height: 80px;
   align-items: center;
}

.search-bar{
   display: flex;
}

.search {
   height: 50px;
   margin-right: 20px;
   border-radius: 10px;
   border: 2px solid white;
   font-size: 30px;
   padding-left: 30px;

 
}


.content {
   max-width: 1080px;
   margin: 0 auto;
}

.logo {
   margin-top: 30px;
   text-align: center;
   font-size: 50px;
}

i{
   color: var(--orange);
}
.logo-text {
   color: var(--orange);
}

.library-body {
   display: grid;
   grid-template-columns: repeat(4,1fr);
   column-gap: 10px;
   grid-auto-rows: minmax(200px,auto);
   
}
.book-item {
   padding: 10px;
   border: 2px solid var(--orange);
   border-radius: 10%;
   font-size: 20px;
}
.book-field {
}